@use './scss/vars' as variables;
@import '~sanitize.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: variables.$font_family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: variables.$text_color;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

code {
  font-family: variables.$font_family_code;
}
