$white: #fff;
$grey: #ddd;
$black: #333;
$yellow: #ffd205;
$blue: #4568dc;
$pink: #b06ab3;

$body_bg: $white;
$main_bg: $white;
$muted_bg: $grey;
$accent_bg: $yellow;
$gradient_bg: linear-gradient(180deg, $blue 0%, $pink 100%);

$text_color: $black;
$accent_text: $yellow;

$border_color: $grey;
$border_color_second: $white;

$border_radius: 5px;



$font_family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;

$font_family_code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
monospace;